<nav class="horizontal-menu">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/without-defer">Without Defer</a></li>
    <li><a routerLink="/with-defer">With Defer</a></li>
    <li><a routerLink="/with-defer-placeholder">With Defer Placeholder</a></li>
    <li><a routerLink="/with-defer-trigger-viewport">With Defer Viewport Trigger</a></li>
    <li><a routerLink="/with-defer-trigger-interaction">With Defer Interaction Trigger</a></li>
    <li><a routerLink="/with-defer-trigger-interaction-and-prefetch">With Defer Interaction Trigger (prefetch)</a></li>
  </ul>
</nav>
